model2-breed_classification/*.pt
flask-celery-backend/.env
flask-celery-backend/__pycache__/*
flask-celery-backend/__pycache__/*.pyc
flask-celery-backend/env_name/
flask-celery-backend/dog_detection_demo/__pycache__/
flask-celery-backend/dog_detection_demo/model.pt
flask-celery-backend/dog_identification_model/__pycache__/
flask-celery-backend/dog_identification_model/dog-identification-model.pt
flask-backend/main/__pycache__/
flask-backend/main/pets/__pycache__/*
flask-backend/main/user/__pycache__/*
flask-celery-backend/breed_classifier/vgg19_60_based_model2.pt
.DS_Store
flask-celery-backend/breed_classifier/__pycache__/*
flask-celery-backend/db.sqlite3
