boto3
botocore
brotlipy
certifi
cffi
click
cryptography
distlib
filelock
Flask
flask-marshmallow
Flask-SQLAlchemy
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
marshmallow
marshmallow-sqlalchemy
olefile
Pillow
platformdirs
psycopg2
pycparser
pyOpenSSL
PySocks
python-dateutil
s3transfer
six
SQLAlchemy
urllib3
virtualenv
Werkzeug
gevent
gunicorn
