<!doctype html>
<html>
<head>
    <title>Twilio SendGrid Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="logo-title-gp">
                <img class="logo-img-con" src="https://i.imgur.com/jcP2YnQ.png"
                     alt="logo_img">
                <label class="app-title">
                    Dog Finder
                </label>
            </div>
        </div>
        <div class="main-body">
            <div class="message-title">
                Here is a good news for you!
            </div>
            <div class="message-content">
                We found 3 match results of your lost dog!
            </div>
            <img class="dog-img" src="https://i.imgur.com/5jFQFvj.png"
                 alt="main_img">
            <div class="in-title">Input Image</div>
            <div class="divider"></div>
            <div class="out-title">Matched Results</div>

            <div class="matched-gp">#}
                <div class="dog-con">
                    <img class="dog-img-res" src="https://i.imgur.com/5jFQFvj.png"
                         alt="main_img">
                </div>
            </div>
        </div>
    </div>
{#        <div class="header">#}
{#            <div class="logo-title-gp">#}
{#                <img class="logo-img-con" src="https://i.imgur.com/jcP2YnQ.png"#}
{#                     alt="logo_img">#}
{#                <label class="app-title">#}
{#                    Dog Finder#}
{#                </label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="main-body">#}
{#            <div class="message-title">#}
{#                Here is a good news for you!#}
{#            </div>#}
{#            <div class="message-content">#}
{#                We found 3 match results of your lost dog!#}
{#            </div>#}
{#            <img class="dog-img" src="https://i.imgur.com/5jFQFvj.png"#}
{#                 alt="main_img">#}
{#            <div class="in-title">Input Image</div>#}
{#            <div class="divider"></div>#}
{#            <div class="out-title">Matched Results</div>#}
{#            <div class="matched-gp">#}
{#                <div class="dog-con">#}
{#                    <img class="dog-img-res" src="https://i.imgur.com/5jFQFvj.png"#}
{#                         alt="main_img">#}
{#                </div>#}
{#                <div class="dog-con">#}
{#                    <img class="dog-img-res" src="https://i.imgur.com/5jFQFvj.png"#}
{#                         alt="main_img">#}
{#                </div>#}
{#                <div class="dog-con">#}
{#                    <img class="dog-img-res" src="https://i.imgur.com/5jFQFvj.png"#}
{#                         alt="main_img">#}
{#                </div>#}
{##}
{#                <div class="dog-con">#}
{#                    <img class="dog-img-res" src="https://i.imgur.com/5jFQFvj.png"#}
{#                         alt="main_img">#}
{#                </div>#}
{##}
{#                <div class="dog-con">#}
{#                    <img class="dog-img-res" src="https://i.imgur.com/5jFQFvj.png"#}
{#                         alt="main_img">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    <div>#}
</body>
</html>